* {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, p {
    margin: 0;
}

.container {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
    color: black;
}

.products {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 24px;
    @media screen and (min-width: 678px) and (max-width: 1279px) {
        grid-template-columns: repeat(3, 1fr);
    }
    @media screen and (max-width: 767px) {
        grid-template-columns: repeat(1, 1fr);
    }

    &__card {
        padding-bottom: 8px;
        border: 1px solid #f8f8f8;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

.product {
    &__text {
        font-size: 16px;
        line-height: 24px;
        display: flex;
        justify-content: center;
        margin-top: 8px;
        padding: 0 8px;
        &:hover {
            color: #C7511F;
        }
    }
    &__image {
        display: block;
        object-fit: contain;
        max-width: 250px;
        max-height: 250px;
        margin: 0 auto;
        &_overlay-grey {
            position: relative;
            &::after {
                position: absolute;
                content: '';
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: #000;
                opacity: .03;
                border-radius: 7px 7px 0 0;
            }
        }
    }
    &__buttons-block {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;
    }
    &__button {
        cursor: pointer;
        background-color: #faae41;
        border: none;
        border-radius: 8px;
        width: 32px;
        height: 32px;
        &:active {
            background-color: #de9a3a;
        }
    }
}

.price {
    &__block {
        column-gap: 1px;
        display: flex;
        align-items: center;
        &_centered {
            justify-content: center;
        }
    }
    &__symbol,
    &__fraction {
        font-size: 13px;
        position: relative;
        top: -0.35em;
    }
    &__whole {
        font-size: 28px;
    }
}

.page {
    &__container {
        max-width: 1024px;
        display: flex;
        justify-content: space-between;
        margin: 36px auto;
        @media screen and (max-width: 767px) {
            flex-direction: column;
        }
    }
    &__description {
        max-width: 440px;
    }
    &__image {
        display: block;
        object-fit: contain;
        max-width: 470px;
        margin-right: 32px;
        @media screen and (max-width: 767px) {
            margin-right: 0;
        }
    }
    &__name {
        font-size: 24px;
        line-height: 32px;
        font-weight: 500;
    }
    &__price {
        font-weight: 500;
        margin: 8px 0;
    }
    &__add-button {
        color: red;
    }
}

.about {
    &__container {
        border-top: 1px solid lightgrey;
        border-bottom: 1px solid lightgrey;
        padding-bottom: 16px;
    }
    &__header {
        font-weight: 600;
        margin-top: 16px;
        margin-bottom: 16px;
    }
    &__list {
        margin: 0 0 0 16px;
        padding: 0;
    }
    &__one-point {
        margin: 8px 0;
    }
}
